Library/
.vs/
obj/
Export/
Temp/
!Assets/
!Trailer/Export
ProjectShowoff/fmod_editor.log
ProjectShowoff/Assets/FMOD/Threa FMOD/Metadata
ProjectShowoff/Assets/FMOD/Threa FMOD/Plugins.meta
ProjectShowoff/fmod_editor.log
ProjectShowoff/Assets/Plugins/FMOD/Cache/Editor/FMODStudioCache.asset
ProjectShowoff/Assets/FMOD/Threa FMOD/.cache
*.data
ProjectShowoff/Assets/Prefabs/Boat.fbx
ProjectShowoff/Assets/Prefabs/Boat.fbx.meta
docs/ThreaWeb.zip

!ProjectShowoff/Assembly-CSharp.csproj
!ProjectShowoff/Assembly-CSharp-Editor.csproj
!ProjectShowoff/Assembly-CSharp-Editor-firstpass.csproj
!ProjectShowoff/Assembly-CSharp-firstpass.csproj
*.csproj